.msg_container_dialog{
	margin-left: -30px;
	padding: 10px;
	background-color: #02192F;
}
.msg_name_user{
	top: 0!important;
	margin-top: 12px;
	margin-left: 5px;
	color: #14A2B1!important;
}
.msg_container_dialog img{
	float: left;
	margin-top: 15px;
	margin-left: 25px;
}
.time_msg{
	margin-left: 73px;
	color: #2B4966;
}
.msg_message{
	float: right;
	width: 60%;
	font-size: 10pt;
}
.message_msg{
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
}
.msg_user_block{
	width: 40%;
	float: left;
}
.back-new{
	background-color: #122841;
}
.members_dialog{
	color: #2B4966;
	margin-left: 73px;
}
.msg_non_read{
	width: 18px;
	height: 18px;
	background-color: #6E282A;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 60px;
	font-size: 19pt;
}