@font-face {
    font-family: "MS SS Regular"; 
    src: url(../fonts/micross.ttf); 
   }
body{
	font-family: "MS SS Regular";
}

.b-page__clear{
	clear: both;
}
.b-page__uppercase{
	text-transform: uppercase;
}



@media(min-width:1024px){
	.b-page__head-line{
		background: rgb(19, 19, 19);
		opacity: 0.7;
		height: 86px;
		z-index: 10;
		position: relative;
	}
	.b-head-line__down{
		height: 14px;
		background: rgb(155, 154, 154);
		position: relative;
		top: -16px;
	}
	.b-head-line-down__grey{
		background: rgb(155, 154, 154);
		width: 70%;
		height: 14px;
		float: left;
	}
	.b-head-line-down__colorgroup{
		width: 30%;
		height: 14px;
		float: right;
	}
	.b-colorgroup__blue{
		width: 25%;
		background-color: rgb(4, 106, 146);
		height: 14px;
		float: left;
	}
	.b-colorgroup__aqua{
		width: 25%;
		background-color: rgb(88, 198, 203);
		height: 14px;
		float: left;
	}
	.b-colorgroup__yellow{
		width: 25%;
		background-color: rgb(251, 196, 114);
		height: 14px;
		float: left;
	}
	.b-colorgroup__pink{
		width: 25%;
		background-color: rgb(228, 110, 145);
		height: 14px;
		float: left;
	}
	
	
	.b-head-line__head-container{
		padding: 21px 60px;
	}
	.b-head-container__logo{
		float: left;
	}
	.b-head-container__login{
		float: right;
		position: relative;
		top: -11px;
	}
	
	
	.b-img__hover{
		display: none;
	}
	.b-login__img-visible{
		display: block;
	}
	.b-login__img-hover{
		position: absolute;
		display: block;
		right: 0px;
		top: 0px;
		float: right;
	}
	.b-login__img-hover-right{
		right: 15px;
	}
	
	.b-slide__img{
		position: absolute;
		width: 100%;
		min-height: 100%;
		z-index: 1;
	}
	.b-page__head-slide{
		position: relative;
		width: 100%;
		height: 900px;
		top: -85px;
	}
	
	.b-head-slide__slide-container{
		min-width: 900px;
		max-width: 1150px;
		margin: 0 auto;
		padding-top: 280px;
	}
	.b-slide-container__text{
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 63px;
		font-weight: bold;
	}
	
	
	.b-page__text-tracing{
		text-shadow: #6E6A6A 1px 0px, #6E6A6A 1px 1px, #6E6A6A 0px 1px, #6E6A6A -1px 1px, #6E6A6A -1px 0px, #6E6A6A -1px -1px, #6E6A6A 0px -1px, #6E6A6A 1px -1px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px;
	}
	.b-slide-container__button{
		background-color: rgb(28, 210, 123);
		width: 430px;
		height: 75px;
		border-radius: 3px;
		opacity: 0.7;
		border: 2px solid #1CFE7B;
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		font-size: 30px;
		display: block;
		text-align: center;
		margin: 50px auto;
		padding-top: 14px;	
		cursor: pointer;
	}
	.b-slide-container__button:visited,
	.b-slide-container__button:focus, 
	.b-slide-container__button:active{
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
	.b-slide-container__button:hover{
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: #73f9b9;
	}
	
	
	.b-page__main-conditions{
		position: relative;
		top: -145px;
		background-color: #F3EFEF;
		padding-top: 90px;
		padding-bottom: 35px;
	}
	.b-main-conditions__header{
		color: #666262;
		text-align: center;
		font-size: 35px;
		margin-bottom: 40px;
	}
	
	
	
	
	
	
	
	.b-main-conditions__conditions-container{
		width: 950px;
		margin: 0 auto;
	}
	.b-conditions-container__item{
		margin-bottom: 35px;
	}
	.b-item__left,
	.b-item__right{
		padding: 0;	
		height: 120px;
	}
	.b-right__text{
		background-color: #E9E8E8;
		height: 120px;
		display: flex;
	}
	.b-conditions__text{
		margin: auto;
		padding: 0 25px;
		font-size: 18px;
	}
	.b-left__blue, 
	.b-right__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-left__aqua, 
	.b-right__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	.b-left__yellow, 
	.b-right__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__pink, 
	.b-right__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-right__line-blue,
	.b-right__line-aqua,
	.b-right__line-yellow,
	.b-right__line-pink{
		height: 7px;
	}
	
	
	
	
	.b-page__dollar-img{
		padding: 28px;
	}
	.b-page__speed-img{
		padding: 28px 13px;
	}
	.b-page__table-img{
		padding: 30px 18px;
	}
	.b-page__calendar-img{
		padding: 26px 20px;
	}
	
	
	.b-page__main-working{
		background-color: rgb(232, 229, 229);
		position: relative;
		top: -55px;
		padding-top: 5px;
	}
	.b-main-working__background-top{
		background: url("../img/bg2.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: absolute;
		top: -90px;
	}
	.b-main-working__background-bottom{
		background: url("../img/bg3.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: relative;
		top: 35px;
	}
	.b-main-working__header{
		text-align: center;
		color: rgb(82, 72, 72);
		margin-bottom: 45px;
	}
	.b-main-working__working-container{
		width: 980px;
		margin: 0 auto;
	}
	.b-working-container__item{
		margin-bottom: 25px;
	}
	
	
	.b-working__text{
		width: 100%;
		margin: auto;
		padding: 0 35px;
	}
	.b-left__working-blue,
	.b-item__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-item__working-left,
	.b-item__working-right{
		padding: 0;	
		height: 160px;
	}
	.b-left__working-pink,
	.b-item__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-left__working-yellow,
	.b-item__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__working-aqua,
	.b-item__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	
	.b-item__line-pink,
	.b-item__line-blue,
	.b-item__line-aqua,
	.b-item__line-yellow{
		height: 7px;
	}
	.b-right__working-text{
		display: flex;
		width: 100%;
		height: 160px;
		background-color: #EDECEC;
	}
	.b-page__brains-img{
		padding: 28px 40px;
	}
	.b-page__time-img{
		padding: 28px 40px;
	}
	.b-page__money-img{
		padding: 28px 40px;
	}
	.b-page__bag-img{
		padding: 28px 40px;
	}
	
	
	.b-working__text-header{
		font-size: 24px;
	}
	.b-working__text-span{
		display: inline-block;
		font-size: 18px;
		line-height: 10px;
	}
	
	
	.b-page__main-info{
		padding-bottom: 90px;
	}
	.b-main-info__container{
		width: 950px;
		margin: 0 auto;
	}
	.b-main-info__video{
		width: 580px;
		float: left;
	}
	.b-video__header{
		text-align: center;
		color: #524E4E;
		margin-bottom: 40px;
		font-size: 25px;
	}
	.b-line__info,
	.b-line__footer{
		top: 0px;
	}
	.b-main-info__vk-group{
		float: right;
	}
	#vk_groups{
		position: relative;
		top: 30px;
	}
	
	
	
	
	.b-page__footer{
		height: 160px;
		background-color: #4C443D;
	}
	.b-footer-line__footer-container{
		padding: 0px 60px;
		position: relative;
		top: 35px;
	}
	.b-footer-container__logo{
		float: left;
		position: relative;
		top: 20px;
	}
	.b-footer-container__login{
		float: right;
		position: relative;
		top: 15px;
	}
	
	.b-footer-container__payments{
		display: inline-block;
		position: relative;
		top: -30px;
	}
	.b-payments__text{
		color: #E9E8E8;
		font-size: 21px;
	}
	.b-payments__img{
		float: left;
		margin-right: 45px;
	}
	.b-footer__login-img{
		float: right;
	}
}


@media(min-width:768px) and (max-width:1023px){
	.b-page__head-line{
		background: rgb(19, 19, 19);
		opacity: 0.7;
		height: 86px;
		z-index: 10;
		position: relative;
	}
	.b-head-line__down{
		height: 14px;
		background: rgb(155, 154, 154);
		position: relative;
		top: -16px;
	}
	.b-head-line-down__grey{
		background: rgb(155, 154, 154);
		width: 70%;
		height: 14px;
		float: left;
	}
	.b-head-line-down__colorgroup{
		width: 30%;
		height: 14px;
		float: right;
	}
	.b-colorgroup__blue{
		width: 25%;
		background-color: rgb(4, 106, 146);
		height: 14px;
		float: left;
	}
	.b-colorgroup__aqua{
		width: 25%;
		background-color: rgb(88, 198, 203);
		height: 14px;
		float: left;
	}
	.b-colorgroup__yellow{
		width: 25%;
		background-color: rgb(251, 196, 114);
		height: 14px;
		float: left;
	}
	.b-colorgroup__pink{
		width: 25%;
		background-color: rgb(228, 110, 145);
		height: 14px;
		float: left;
	}
	
	
	.b-head-line__head-container{
		padding: 21px 60px;
	}
	.b-head-container__logo{
		float: left;
	}
	.b-head-container__login{
		float: right;
		position: relative;
		top: -11px;
	}
	
	
	.b-img__hover{
		display: none;
	}
	.b-login__img-visible{
		display: block;
	}
	.b-login__img-hover{
		position: absolute;
		display: block;
		right: 0px;
		top: 0px;
		float: right;
	}
	.b-login__img-hover-right{
		right: 15px;
	}
	
	.b-slide__img{
		position: absolute;
		width: 100%;
		min-height: 100%;
		z-index: 1;
	}
	.b-page__head-slide{
		position: relative;
		width: 100%;
		height: 700px;
		top: -85px;
	}
	
	.b-head-slide__slide-container{
		min-width: 665px;
		max-width: 1150px;
		margin: 0 auto;
		padding-top: 215px;
	}
	.b-slide-container__text{
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 50px;
		font-weight: bold;
	}
	
	
	.b-page__text-tracing{
		text-shadow: #6E6A6A 1px 0px, #6E6A6A 1px 1px, #6E6A6A 0px 1px, #6E6A6A -1px 1px, #6E6A6A -1px 0px, #6E6A6A -1px -1px, #6E6A6A 0px -1px, #6E6A6A 1px -1px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px;
	}
	.b-slide-container__button{
		background-color: rgb(28, 210, 123);
		width: 430px;
		height: 75px;
		border-radius: 3px;
		opacity: 0.7;
		border: 2px solid #1CFE7B;
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		font-size: 30px;
		display: block;
		text-align: center;
		margin: 50px auto;
		padding-top: 14px;	
		cursor: pointer;
	}
	.b-slide-container__button:visited,
	.b-slide-container__button:focus, 
	.b-slide-container__button:active{
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
	.b-slide-container__button:hover{
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: #73f9b9;
	}
	
	
	.b-page__main-conditions{
		position: relative;
		top: -145px;
		background-color: #F3EFEF;
		padding-top: 90px;
		padding-bottom: 35px;
	}
	.b-main-conditions__header{
		color: #666262;
		text-align: center;
		font-size: 30px;
		margin-bottom: 40px;
	}
	
	
	
	.b-item-left__img{
		position: relative;
		z-index: 100;
	}
	
	
	
	.b-main-conditions__conditions-container{
		width: 620px;
		margin: 0 auto;
	}
	.b-conditions-container__item{
		margin-bottom: 35px;
	}
	.b-item__left,
	.b-item__right{
		padding: 0;	
		height: 120px;
	}
	.b-right__text{
		background-color: #E9E8E8;
		height: 120px;
		display: flex;
	}
	.b-conditions__text{
		margin: auto;
		padding: 0 25px;
		font-size: 18px;
	}
	.b-left__blue, 
	.b-right__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-left__aqua, 
	.b-right__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	.b-left__yellow, 
	.b-right__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__pink, 
	.b-right__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-right__line-blue,
	.b-right__line-aqua,
	.b-right__line-yellow,
	.b-right__line-pink{
		height: 7px;
	}
	
	
	
	
	.b-page__dollar-img{
		padding: 28px 45px;
	}
	.b-page__speed-img{
		padding: 28px 30px;
	}
	.b-page__table-img{
		padding: 30px 38px;
	}
	.b-page__calendar-img{
		padding: 26px 40px;
	}
	
	
	.b-page__main-working{
		background-color: rgb(232, 229, 229);
		position: relative;
		top: -85px;
		padding-top: 5px;
	}
	.b-main-working__background-top{
		background: url("../img/bg2.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: absolute;
		top: -75px;
	}
	.b-main-working__background-bottom{
		background: url("../img/bg3.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: relative;
		top: 35px;
	}
	.b-main-working__header{
		text-align: center;
		color: rgb(82, 72, 72);
		margin-bottom: 45px;
	}
	.b-main-working__working-container{
		width: 620px;
		margin: 0 auto;
	}
	.b-working-container__item{
		margin-bottom: 25px;
	}
	
	
	.b-working__text{
		width: 100%;
		margin: auto;
		padding: 0 35px;
	}
	.b-left__working-blue,
	.b-item__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-item__working-left,
	.b-item__working-right{
		padding: 0;	
		height: 160px;
	}
	.b-left__working-pink,
	.b-item__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-left__working-yellow,
	.b-item__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__working-aqua,
	.b-item__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	
	.b-item__line-pink,
	.b-item__line-blue,
	.b-item__line-aqua,
	.b-item__line-yellow{
		height: 7px;
	}
	.b-right__working-text{
		display: flex;
		height: 160px;
		background-color: #EDECEC;
	}
	.b-page__brains-img{
		padding: 28px 40px;
	}
	.b-page__time-img{
		padding: 28px 40px;
	}
	.b-page__money-img{
		padding: 28px 40px;
	}
	.b-page__bag-img{
		padding: 28px 40px;
	}
	
	
	.b-working__text-header{
		font-size: 24px;
	}
	.b-working__text-span{
		display: inline-block;
		font-size: 14px;
		line-height: 10px;
	}
	
	
	.b-page__main-info{
		padding-bottom: 90px;
	}
	.b-main-info__container{
		width: 740px;
		margin: 0 auto;
	}
	.b-main-info__video{
		width: 580px;
		margin: 0px auto;
	}
	.b-video__header{
		text-align: center;
		color: #524E4E;
		margin-bottom: 40px;
		font-size: 25px;
	}
	.b-line__info,
	.b-line__footer{
		top: 0px;
	}
	.b-main-info__vk-group{
		margin: 0 auto;
		width: 220px;
	}
	#vk_groups{
		position: relative;
		top: 30px;
	}
	
	
	
	
	.b-page__footer{
		height: 88px;
		background-color: #4C443D;
	}
	.b-footer-line__footer-container{
		padding: 0px 60px;
		position: relative;
	}
	.b-footer-container__logo{
		float: left;
		position: relative;
		top: 20px;
	}
	.b-footer-container__login{
		float: right;
		position: relative;
		top: 15px;
	}
	
	.b-footer-container__payments{
		display: inline-block;
		position: relative;
		top: -30px;
	}
	.b-payments__text{
		color: #E9E8E8;
		font-size: 21px;
		display: none;
	}
	.b-footer-payments__img-block{
		display: none;
	}
	.b-payments__img{
		float: left;
		margin-right: 45px;
	}
	.b-footer__login-img{
		float: right;
	}
}







@media(min-width:480px) and (max-width:767px){
	.b-page__head-line{
		background: rgb(19, 19, 19);
		opacity: 0.7;
		height: 86px;
		z-index: 10;
		position: relative;
	}
	.b-head-line__down{
		height: 14px;
		background: rgb(155, 154, 154);
		position: relative;
		top: -16px;
	}
	.b-head-line-down__grey{
		background: rgb(155, 154, 154);
		width: 70%;
		height: 14px;
		float: left;
	}
	.b-head-line-down__colorgroup{
		width: 30%;
		height: 14px;
		float: right;
	}
	.b-colorgroup__blue{
		width: 25%;
		background-color: rgb(4, 106, 146);
		height: 14px;
		float: left;
	}
	.b-colorgroup__aqua{
		width: 25%;
		background-color: rgb(88, 198, 203);
		height: 14px;
		float: left;
	}
	.b-colorgroup__yellow{
		width: 25%;
		background-color: rgb(251, 196, 114);
		height: 14px;
		float: left;
	}
	.b-colorgroup__pink{
		width: 25%;
		background-color: rgb(228, 110, 145);
		height: 14px;
		float: left;
	}
	
	
	.b-head-line__head-container{
		padding: 21px 20px;
	}
	.b-head-container__logo{
		float: left;
	}
	.b-head-container__login{
		float: right;
		position: relative;
		top: -11px;
	}
	
	
	.b-img__hover{
		display: none;
	}
	.b-login__img-visible{
		display: block;
	}
	.b-login__img-hover{
		position: absolute;
		display: block;
		right: 0px;
		top: 0px;
		float: right;
	}
	.b-login__img-hover-right{
		right: 15px;
	}
	
	.b-slide__img{
		position: absolute;
		width: 100%;
		min-height: 100%;
		z-index: 1;
	}
	.b-page__head-slide{
		position: relative;
		width: 100%;
		height: 550px;
		top: -85px;
	}
	
	.b-head-slide__slide-container{
		min-width: 450px;
		max-width: 1150px;
		margin: 0 auto;
		padding-top: 150px;
	}
	.b-slide-container__text{
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		text-align: center;
		font-size: 35px;
		font-weight: bold;
	}
	
	
	.b-page__text-tracing{
		text-shadow: #6E6A6A 1px 0px, #6E6A6A 1px 1px, #6E6A6A 0px 1px, #6E6A6A -1px 1px, #6E6A6A -1px 0px, #6E6A6A -1px -1px, #6E6A6A 0px -1px, #6E6A6A 1px -1px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px, #6E6A6A 0 0 3px;
	}
	.b-slide-container__button{
		background-color: rgb(28, 210, 123);
		width: 430px;
		height: 75px;
		border-radius: 3px;
		opacity: 0.7;
		border: 2px solid #1CFE7B;
		position: relative;
		z-index: 10;
		color: rgb(255, 255, 255);
		font-size: 30px;
		display: block;
		text-align: center;
		margin: 50px auto;
		padding-top: 14px;	
		cursor: pointer;
	}
	.b-slide-container__button:visited,
	.b-slide-container__button:focus, 
	.b-slide-container__button:active{
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
	.b-slide-container__button:hover{
		color: rgb(255, 255, 255);
		text-decoration: none;
		background-color: #73f9b9;
	}
	
	
	.b-page__main-conditions{
		position: relative;
		top: -145px;
		background-color: #F3EFEF;
		padding-top: 90px;
		padding-bottom: 35px;
	}
	.b-main-conditions__header{
		color: #666262;
		text-align: center;
		font-size: 30px;
		margin-bottom: 40px;
	}
	
	
	
	.b-item-left__img{
		position: relative;
		z-index: 100;
	}
	
	
	
	.b-main-conditions__conditions-container{
		width: 460px;
		margin: 0 auto;
	}
	.b-conditions-container__item{
		margin-bottom: 35px;
	}
	.b-item__left,
	.b-item__right{
		padding: 0;	
		height: 120px;
	}
	.b-right__text{
		background-color: #E9E8E8;
		height: 120px;
		display: flex;
	}
	.b-conditions__text{
		margin: auto;
		padding: 0 25px;
		font-size: 18px;
	}
	.b-left__blue, 
	.b-right__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-left__aqua, 
	.b-right__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	.b-left__yellow, 
	.b-right__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__pink, 
	.b-right__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-right__line-blue,
	.b-right__line-aqua,
	.b-right__line-yellow,
	.b-right__line-pink{
		height: 7px;
	}
	
	
	
	
	.b-page__dollar-img{
		padding: 28px 30px;
	}
	.b-page__speed-img{
		padding: 28px 13px;
	}
	.b-page__table-img{
		padding: 30px 18px;
	}
	.b-page__calendar-img{
		padding: 26px 18px;
	}
	
	
	.b-page__main-working{
		background-color: rgb(232, 229, 229);
		position: relative;
		top: -110px;
		padding-top: 5px;
	}
	.b-main-working__background-top{
		background: url("../img/bg2.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: absolute;
		top: -63px;
	}
	.b-main-working__background-bottom{
		background: url("../img/bg3.png")no-repeat center center;
		background-size: 100% auto;
		width: 100%;
		height: 90px;
		position: relative;
		top: 35px;
	}
	.b-main-working__header{
		text-align: center;
		color: rgb(82, 72, 72);
		margin-bottom: 45px;
	}
	.b-main-working__working-container{
		width: 460px;
		margin: 0 auto;
	}
	.b-working-container__item{
		margin-bottom: 25px;
	}
	
	
	.b-working__text{
		width: 100%;
		margin: auto;
		padding: 0 35px;
	}
	.b-left__working-blue,
	.b-item__line-blue{
		color: rgb(4, 106, 146);
		background-color: rgb(4, 106, 146);
	}
	.b-item__working-left,
	.b-item__working-right{
		padding: 0;	
		height: 160px;
	}
	.b-left__working-pink,
	.b-item__line-pink{
		color: rgb(228, 110, 145);
		background-color: rgb(228, 110, 145);
	}
	.b-left__working-yellow,
	.b-item__line-yellow{
		color: rgb(224, 159, 63);
		background-color: rgb(251, 196, 114);
	}
	.b-left__working-aqua,
	.b-item__line-aqua{
		color: rgb(88, 198, 203);
		background-color: rgb(88, 198, 203);
	}
	
	.b-item__line-pink,
	.b-item__line-blue,
	.b-item__line-aqua,
	.b-item__line-yellow{
		height: 7px;
	}
	.b-right__working-text{
		display: flex;
		height: 160px;
		background-color: #EDECEC;
	}
	.b-page__brains-img{
		padding: 28px 17px;
	}
	.b-page__time-img{
		padding: 28px 20px;
	}
	.b-page__money-img{
		padding: 28px 17px;
	}
	.b-page__bag-img{
		padding: 28px 12px;
	}
	
	
	.b-working__text-header{
		font-size: 24px;
	}
	.b-working__text-span{
		display: inline-block;
		font-size: 14px;
		line-height: 10px;
	}
	
	
	.b-page__main-info{
		padding-bottom: 90px;
	}
	.b-main-info__container{
		width: 460px;
		margin: 0 auto;
	}
	.b-main-info__video{
		width: 450px;
		margin: 0px auto;
	}
	.b-video__header{
		text-align: center;
		color: #524E4E;
		margin-bottom: 40px;
		font-size: 25px;
	}
	.b-line__info,
	.b-line__footer{
		top: 0px;
	}
	.b-main-info__vk-group{
		margin: 0 auto;
		width: 220px;
	}
	#vk_groups{
		position: relative;
		top: 30px;
	}
	
	
	.b-video__video-container iframe{
		width: 450px !important;
	}
	
	.b-page__footer{
		height: 88px;
		background-color: #4C443D;
	}
	.b-footer-line__footer-container{
		padding: 0px 10px;
		position: relative;
	}
	.b-footer-container__logo{
		float: left;
		position: relative;
		top: 23px;
	}
	.b-footer-container__login{
		float: right;
		position: relative;
		top: 15px;
	}
	
	.b-footer-container__payments{
		display: inline-block;
		position: relative;
		top: -30px;
	}
	.b-payments__text{
		color: #E9E8E8;
		font-size: 21px;
		display: none;
	}
	.b-footer-payments__img-block{
		display: none;
	}
	.b-payments__img{
		float: left;
		margin-right: 45px;
	}
	.b-footer__login-img{
		float: right;
	}
}

@media(min-width:1024px) and (max-width:1279px){
	.b-main-working__background-top{
		top: -85px;
	}
	.b-page__main-conditions{
		top: -135px;
	}
	.b-footer-container__logo{
		width: 31%;
	}
	.b-footer-container__payments{
		width: 47%;
	}
	.b-footer-container__login {
		width: 17%;
	}
	.b-footer-line__footer-container{
		padding: 0 10px;
	}
	.b-head-line__head-container{
		padding: 21px 20px;
	}
}





